<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearth Lead Capture Widget</title>
</head>
<body>
    <iframe
        id="hearth-lead-capture-widget"
        style="width: 100%; height: 500px; border: 1px solid black;"
        title="Hearth Lead Capture Widget"
    ></iframe>

   <script src="https://widget.gethearth.com/script.js" id="hearth-script" data-orgid="49438" data-partner="monarca-life-improvement" data-orgUuid="9acc99cb-c1be-46fa-9ec8-2ea54a8e0b62" ></script> <iframe id="hearth-lead-capture-widget"></iframe>
</body>
</html>